{% if template contains 'cart' %}
<div class="cart-footer__payments">
  <p class="cart-footer__payments-title">
    or 4 payments of {{ cart.total_price | divided_by: '4' | money_with_currency }} with
  </p>
  <div class="cart-footer__payments__icons">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      role="img"
      aria-labelledby="shop-pay-logo"
      viewBox="0 -2 341 81"
      height="15px"
      width="75px"
    >
      <title id="shop-pay-logo">Shop Pay</title>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M227.297 0C220.448 0 214.896 5.47237 214.896 12.2229V67.8125C214.896 74.563 220.448 80.0354 227.297 80.0354H328.357C335.206 80.0354 340.758 74.563 340.758 67.8125V12.2229C340.758 5.47237 335.206 0 328.357 0H227.297ZM244.999 55.8917V41.8012H253.993C262.21 41.8012 266.579 37.2604 266.579 30.379C266.579 23.4976 262.21 19.3782 253.993 19.3782H239.205V55.8917H244.999ZM244.999 24.8084H252.663C257.982 24.8084 260.595 26.9617 260.595 30.5663C260.595 34.1708 258.077 36.3242 252.9 36.3242H244.999V24.8084ZM276.795 56.6407C281.212 56.6407 284.109 54.7214 285.439 51.4445C285.819 55.0959 288.052 56.9684 292.896 55.7044L292.944 51.819C290.996 52.0063 290.616 51.3041 290.616 49.2912V39.7415C290.616 34.124 286.864 30.8003 279.93 30.8003C273.09 30.8003 269.148 34.1708 269.148 39.8819H274.468C274.468 37.1668 276.415 35.5284 279.835 35.5284C283.444 35.5284 285.107 37.0732 285.059 39.7415V40.9586L278.932 41.614C272.045 42.3629 268.246 44.9376 268.246 49.4316C268.246 53.1298 270.905 56.6407 276.795 56.6407ZM277.982 52.4276C274.99 52.4276 273.803 50.836 273.803 49.2443C273.803 47.091 276.273 46.1079 281.117 45.5462L284.917 45.1249C284.679 49.2443 281.877 52.4276 277.982 52.4276ZM310.537 57.7174C308.115 63.5221 304.22 65.2541 298.141 65.2541H295.528V60.4793H298.331C301.655 60.4793 303.27 59.4494 305.028 56.5002L294.246 31.5493H300.23L307.925 49.7593L314.764 31.5493H320.606L310.537 57.7174Z" fill="#5a30f5"></path>
      <path d="M29.5136 35.1798C21.5797 33.4835 18.0451 32.8197 18.0451 29.8064C18.0451 26.9722 20.4371 25.5604 25.221 25.5604C29.4282 25.5604 32.5036 27.3726 34.7674 30.9232C34.9382 31.1972 35.2906 31.292 35.5789 31.1445L44.506 26.6983C44.8263 26.5402 44.9438 26.1399 44.7623 25.8343C41.0569 19.5022 34.2121 16.0358 25.1996 16.0358C13.3574 16.0358 6 21.7885 6 30.9338C6 40.648 14.9591 43.1029 22.9038 44.7992C30.8484 46.4955 34.3936 47.1592 34.3936 50.1725C34.3936 53.1858 31.8095 54.6082 26.6518 54.6082C21.8893 54.6082 18.3548 52.4589 16.2191 48.2866C16.059 47.981 15.6852 47.8546 15.3756 48.0127L6.46985 52.364C6.16017 52.5221 6.03203 52.8908 6.19221 53.2069C9.72673 60.2134 16.9773 64.1538 26.6625 64.1538C38.996 64.1538 46.4494 58.496 46.4494 49.0663C46.4494 39.6365 37.4476 36.8972 29.5136 35.2009V35.1798Z" fill="#5a30f5"></path>
      <path d="M77.3525 16.0358C72.291 16.0358 67.8168 17.8059 64.6026 20.9561C64.3997 21.1458 64.0687 21.0088 64.0687 20.7349V0.621625C64.0687 0.273937 63.791 0 63.4387 0H52.2692C51.9168 0 51.6391 0.273937 51.6391 0.621625V63.0476C51.6391 63.3952 51.9168 63.6692 52.2692 63.6692H63.4387C63.791 63.6692 64.0687 63.3952 64.0687 63.0476V35.6644C64.0687 30.3754 68.1798 26.319 73.7219 26.319C79.2639 26.319 83.279 30.2911 83.279 35.6644V63.0476C83.279 63.3952 83.5566 63.6692 83.909 63.6692H95.0785C95.4309 63.6692 95.7085 63.3952 95.7085 63.0476V35.6644C95.7085 24.1591 88.0628 16.0464 77.3525 16.0464V16.0358Z" fill="#5a30f5"></path>
      <path d="M118.389 14.2552C112.324 14.2552 106.622 16.0779 102.542 18.7224C102.265 18.9016 102.169 19.2703 102.34 19.5548L107.262 27.8466C107.444 28.1416 107.828 28.247 108.127 28.0679C111.224 26.2241 114.769 25.2653 118.389 25.2864C128.138 25.2864 135.303 32.0716 135.303 41.0377C135.303 48.6763 129.569 54.3342 122.297 54.3342C116.371 54.3342 112.26 50.9311 112.26 46.1266C112.26 43.3767 113.445 41.122 116.531 39.5311C116.851 39.3625 116.969 38.9727 116.777 38.6671L112.132 30.9126C111.982 30.6598 111.662 30.5439 111.373 30.6492C105.148 32.925 100.78 38.4037 100.78 45.7579C100.78 56.8839 109.761 65.1863 122.287 65.1863C136.916 65.1863 147.434 55.1876 147.434 40.8481C147.434 25.476 135.197 14.2446 118.368 14.2446L118.389 14.2552Z" fill="#5a30f5"></path>
      <path d="M180.098 15.9515C174.449 15.9515 169.409 18.006 165.725 21.6304C165.522 21.8306 165.191 21.6831 165.191 21.4092V17.0473C165.191 16.6996 164.914 16.4256 164.561 16.4256H153.68C153.328 16.4256 153.05 16.6996 153.05 17.0473V79.3784C153.05 79.7261 153.328 80 153.68 80H164.849C165.202 80 165.48 79.7261 165.48 79.3784V58.9385C165.48 58.6645 165.811 58.5276 166.013 58.7067C169.687 62.0782 174.545 64.0485 180.109 64.0485C193.211 64.0485 203.43 53.5862 203.43 39.9947C203.43 26.4032 193.2 15.941 180.109 15.941L180.098 15.9515ZM177.995 53.4914C170.541 53.4914 164.892 47.6439 164.892 39.9104C164.892 32.177 170.53 26.3295 177.995 26.3295C185.459 26.3295 191.086 32.0822 191.086 39.9104C191.086 47.7387 185.533 53.4914 177.984 53.4914H177.995Z" fill="#5a30f5"></path>
    </svg>
  </div>
  <div class="cart-footer__payments__icons">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="xMidYMid meet"
      width="75"
      class="compact-badge-logo"
      viewBox="10 0 80 17"
    >
      <path class="afterpay-logo-badge-background" fill="#fff" d="M89.85 20.92h-78.9a10.42 10.42 0 110-20.82h78.89a10.42 10.42 0 010 20.83v-.01z"></path>
      <g class="afterpay-logo-badge-lockup">
        <path d="M85.05 6.37L82.88 5.1l-2.2-1.27a2.2 2.2 0 00-3.3 1.9v.29c0 .16.08.3.22.38l1.03.58c.28.16.63-.04.63-.37v-.67c0-.34.36-.54.65-.38l2.02 1.16 2 1.15c.3.16.3.58 0 .75l-2 1.15-2.02 1.16a.43.43 0 01-.65-.38v-.33a2.2 2.2 0 00-3.28-1.9l-2.2 1.26-2.19 1.25a2.2 2.2 0 000 3.8l2.18 1.25 2.2 1.27a2.2 2.2 0 003.3-1.9v-.3c0-.15-.09-.3-.23-.37L78.02 14a.43.43 0 00-.64.37v.67c0 .34-.36.54-.65.38l-2-1.16-2-1.15a.43.43 0 010-.75l2-1.15 2-1.16c.3-.16.65.05.65.38v.33a2.2 2.2 0 003.3 1.9l2.2-1.26 2.17-1.25a2.2 2.2 0 000-3.8z"></path>
        <path d="M70.77 6.78l-5.1 10.53h-2.12l1.91-3.93-3-6.6h2.17l1.93 4.42 2.1-4.42h2.11z"></path>
        <path d="M19.8 10.5c0-1.24-.92-2.12-2.04-2.12s-2.03.9-2.03 2.14c0 1.23.91 2.14 2.03 2.14s2.03-.88 2.03-2.14m.02 3.74v-.97a3 3 0 01-2.36 1.09c-2.05 0-3.6-1.65-3.6-3.86 0-2.2 1.61-3.87 3.65-3.87.95 0 1.76.42 2.31 1.08v-.95h1.84v7.48h-1.84z"></path>
        <path d="M30.6 12.6c-.65 0-.84-.24-.84-.87V8.4h1.2V6.78h-1.2V4.96h-1.88v1.82h-2.43v-.74c0-.63.24-.87.9-.87h.42V3.72h-.9c-1.56 0-2.3.5-2.3 2.07v1h-1.04V8.4h1.04v5.85h1.88V8.4h2.43v3.66c0 1.53.6 2.19 2.11 2.19h.97V12.6h-.37z"></path>
        <path d="M37.35 9.85c-.13-.97-.93-1.56-1.86-1.56-.92 0-1.7.57-1.88 1.56h3.74zM33.6 11c.13 1.1.93 1.74 1.93 1.74.8 0 1.4-.37 1.76-.97h1.94c-.45 1.58-1.87 2.6-3.74 2.6a3.68 3.68 0 01-3.85-3.85 3.78 3.78 0 013.9-3.9 3.74 3.74 0 013.8 4.38H33.6z"></path>
        <path d="M51.35 10.5c0-1.2-.9-2.12-2.03-2.12-1.12 0-2.03.9-2.03 2.14 0 1.23.9 2.14 2.03 2.14 1.12 0 2.03-.93 2.03-2.14m-5.92 6.79V6.78h1.84v.97a2.97 2.97 0 012.36-1.1c2.02 0 3.6 1.65 3.6 3.85s-1.6 3.87-3.65 3.87a2.9 2.9 0 01-2.26-1v3.93h-1.9.01z"></path>
        <path d="M59.86 10.5c0-1.24-.9-2.12-2.03-2.12-1.12 0-2.04.9-2.04 2.14 0 1.23.92 2.14 2.04 2.14s2.03-.88 2.03-2.14m.02 3.74v-.97a3 3 0 01-2.36 1.09c-2.05 0-3.6-1.65-3.6-3.86 0-2.2 1.61-3.87 3.64-3.87.96 0 1.76.42 2.32 1.08v-.95h1.84v7.48h-1.84z"></path>
        <path d="M42.11 7.5s.47-.86 1.62-.86c.5 0 .8.17.8.17v1.9s-.69-.42-1.32-.33c-.64.09-1.04.67-1.04 1.45v4.42h-1.9V6.78h1.84v.73z"></path>
      </g>
    </svg>
  </div>
  <div class="cart-footer__payments__icons">
   <img src="https://cdn.shopify.com/s/files/1/1559/9679/files/Sezzle-cropped.svg?v=1739823903" style="width:70px">
  </div>
</div>
{% else %}

<div class="cart-footer__payments">
  <p class="cart-footer__payments-title">
    or 4 payments of {{ cart.total_price | divided_by: '4' | money_with_currency }} with
  </p>
  <div class="cart-footer__payments__icons">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      role="img"
      aria-labelledby="shop-pay-logo"
      viewBox="0 -2 341 81"
      height="15px"
      width="75px"
    >
      <title id="shop-pay-logo">Shop Pay</title>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M227.297 0C220.448 0 214.896 5.47237 214.896 12.2229V67.8125C214.896 74.563 220.448 80.0354 227.297 80.0354H328.357C335.206 80.0354 340.758 74.563 340.758 67.8125V12.2229C340.758 5.47237 335.206 0 328.357 0H227.297ZM244.999 55.8917V41.8012H253.993C262.21 41.8012 266.579 37.2604 266.579 30.379C266.579 23.4976 262.21 19.3782 253.993 19.3782H239.205V55.8917H244.999ZM244.999 24.8084H252.663C257.982 24.8084 260.595 26.9617 260.595 30.5663C260.595 34.1708 258.077 36.3242 252.9 36.3242H244.999V24.8084ZM276.795 56.6407C281.212 56.6407 284.109 54.7214 285.439 51.4445C285.819 55.0959 288.052 56.9684 292.896 55.7044L292.944 51.819C290.996 52.0063 290.616 51.3041 290.616 49.2912V39.7415C290.616 34.124 286.864 30.8003 279.93 30.8003C273.09 30.8003 269.148 34.1708 269.148 39.8819H274.468C274.468 37.1668 276.415 35.5284 279.835 35.5284C283.444 35.5284 285.107 37.0732 285.059 39.7415V40.9586L278.932 41.614C272.045 42.3629 268.246 44.9376 268.246 49.4316C268.246 53.1298 270.905 56.6407 276.795 56.6407ZM277.982 52.4276C274.99 52.4276 273.803 50.836 273.803 49.2443C273.803 47.091 276.273 46.1079 281.117 45.5462L284.917 45.1249C284.679 49.2443 281.877 52.4276 277.982 52.4276ZM310.537 57.7174C308.115 63.5221 304.22 65.2541 298.141 65.2541H295.528V60.4793H298.331C301.655 60.4793 303.27 59.4494 305.028 56.5002L294.246 31.5493H300.23L307.925 49.7593L314.764 31.5493H320.606L310.537 57.7174Z" fill="#5a30f5"></path>
      <path d="M29.5136 35.1798C21.5797 33.4835 18.0451 32.8197 18.0451 29.8064C18.0451 26.9722 20.4371 25.5604 25.221 25.5604C29.4282 25.5604 32.5036 27.3726 34.7674 30.9232C34.9382 31.1972 35.2906 31.292 35.5789 31.1445L44.506 26.6983C44.8263 26.5402 44.9438 26.1399 44.7623 25.8343C41.0569 19.5022 34.2121 16.0358 25.1996 16.0358C13.3574 16.0358 6 21.7885 6 30.9338C6 40.648 14.9591 43.1029 22.9038 44.7992C30.8484 46.4955 34.3936 47.1592 34.3936 50.1725C34.3936 53.1858 31.8095 54.6082 26.6518 54.6082C21.8893 54.6082 18.3548 52.4589 16.2191 48.2866C16.059 47.981 15.6852 47.8546 15.3756 48.0127L6.46985 52.364C6.16017 52.5221 6.03203 52.8908 6.19221 53.2069C9.72673 60.2134 16.9773 64.1538 26.6625 64.1538C38.996 64.1538 46.4494 58.496 46.4494 49.0663C46.4494 39.6365 37.4476 36.8972 29.5136 35.2009V35.1798Z" fill="#5a30f5"></path>
      <path d="M77.3525 16.0358C72.291 16.0358 67.8168 17.8059 64.6026 20.9561C64.3997 21.1458 64.0687 21.0088 64.0687 20.7349V0.621625C64.0687 0.273937 63.791 0 63.4387 0H52.2692C51.9168 0 51.6391 0.273937 51.6391 0.621625V63.0476C51.6391 63.3952 51.9168 63.6692 52.2692 63.6692H63.4387C63.791 63.6692 64.0687 63.3952 64.0687 63.0476V35.6644C64.0687 30.3754 68.1798 26.319 73.7219 26.319C79.2639 26.319 83.279 30.2911 83.279 35.6644V63.0476C83.279 63.3952 83.5566 63.6692 83.909 63.6692H95.0785C95.4309 63.6692 95.7085 63.3952 95.7085 63.0476V35.6644C95.7085 24.1591 88.0628 16.0464 77.3525 16.0464V16.0358Z" fill="#5a30f5"></path>
      <path d="M118.389 14.2552C112.324 14.2552 106.622 16.0779 102.542 18.7224C102.265 18.9016 102.169 19.2703 102.34 19.5548L107.262 27.8466C107.444 28.1416 107.828 28.247 108.127 28.0679C111.224 26.2241 114.769 25.2653 118.389 25.2864C128.138 25.2864 135.303 32.0716 135.303 41.0377C135.303 48.6763 129.569 54.3342 122.297 54.3342C116.371 54.3342 112.26 50.9311 112.26 46.1266C112.26 43.3767 113.445 41.122 116.531 39.5311C116.851 39.3625 116.969 38.9727 116.777 38.6671L112.132 30.9126C111.982 30.6598 111.662 30.5439 111.373 30.6492C105.148 32.925 100.78 38.4037 100.78 45.7579C100.78 56.8839 109.761 65.1863 122.287 65.1863C136.916 65.1863 147.434 55.1876 147.434 40.8481C147.434 25.476 135.197 14.2446 118.368 14.2446L118.389 14.2552Z" fill="#5a30f5"></path>
      <path d="M180.098 15.9515C174.449 15.9515 169.409 18.006 165.725 21.6304C165.522 21.8306 165.191 21.6831 165.191 21.4092V17.0473C165.191 16.6996 164.914 16.4256 164.561 16.4256H153.68C153.328 16.4256 153.05 16.6996 153.05 17.0473V79.3784C153.05 79.7261 153.328 80 153.68 80H164.849C165.202 80 165.48 79.7261 165.48 79.3784V58.9385C165.48 58.6645 165.811 58.5276 166.013 58.7067C169.687 62.0782 174.545 64.0485 180.109 64.0485C193.211 64.0485 203.43 53.5862 203.43 39.9947C203.43 26.4032 193.2 15.941 180.109 15.941L180.098 15.9515ZM177.995 53.4914C170.541 53.4914 164.892 47.6439 164.892 39.9104C164.892 32.177 170.53 26.3295 177.995 26.3295C185.459 26.3295 191.086 32.0822 191.086 39.9104C191.086 47.7387 185.533 53.4914 177.984 53.4914H177.995Z" fill="#5a30f5"></path>
    </svg>
  </div>
  <div class="cart-footer__payments__icons">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="xMidYMid meet"
      width="75"
      class="compact-badge-logo"
      viewBox="10 0 80 17"
    >
      <path class="afterpay-logo-badge-background" fill="#fff" d="M89.85 20.92h-78.9a10.42 10.42 0 110-20.82h78.89a10.42 10.42 0 010 20.83v-.01z"></path>
      <g class="afterpay-logo-badge-lockup">
        <path d="M85.05 6.37L82.88 5.1l-2.2-1.27a2.2 2.2 0 00-3.3 1.9v.29c0 .16.08.3.22.38l1.03.58c.28.16.63-.04.63-.37v-.67c0-.34.36-.54.65-.38l2.02 1.16 2 1.15c.3.16.3.58 0 .75l-2 1.15-2.02 1.16a.43.43 0 01-.65-.38v-.33a2.2 2.2 0 00-3.28-1.9l-2.2 1.26-2.19 1.25a2.2 2.2 0 000 3.8l2.18 1.25 2.2 1.27a2.2 2.2 0 003.3-1.9v-.3c0-.15-.09-.3-.23-.37L78.02 14a.43.43 0 00-.64.37v.67c0 .34-.36.54-.65.38l-2-1.16-2-1.15a.43.43 0 010-.75l2-1.15 2-1.16c.3-.16.65.05.65.38v.33a2.2 2.2 0 003.3 1.9l2.2-1.26 2.17-1.25a2.2 2.2 0 000-3.8z"></path>
        <path d="M70.77 6.78l-5.1 10.53h-2.12l1.91-3.93-3-6.6h2.17l1.93 4.42 2.1-4.42h2.11z"></path>
        <path d="M19.8 10.5c0-1.24-.92-2.12-2.04-2.12s-2.03.9-2.03 2.14c0 1.23.91 2.14 2.03 2.14s2.03-.88 2.03-2.14m.02 3.74v-.97a3 3 0 01-2.36 1.09c-2.05 0-3.6-1.65-3.6-3.86 0-2.2 1.61-3.87 3.65-3.87.95 0 1.76.42 2.31 1.08v-.95h1.84v7.48h-1.84z"></path>
        <path d="M30.6 12.6c-.65 0-.84-.24-.84-.87V8.4h1.2V6.78h-1.2V4.96h-1.88v1.82h-2.43v-.74c0-.63.24-.87.9-.87h.42V3.72h-.9c-1.56 0-2.3.5-2.3 2.07v1h-1.04V8.4h1.04v5.85h1.88V8.4h2.43v3.66c0 1.53.6 2.19 2.11 2.19h.97V12.6h-.37z"></path>
        <path d="M37.35 9.85c-.13-.97-.93-1.56-1.86-1.56-.92 0-1.7.57-1.88 1.56h3.74zM33.6 11c.13 1.1.93 1.74 1.93 1.74.8 0 1.4-.37 1.76-.97h1.94c-.45 1.58-1.87 2.6-3.74 2.6a3.68 3.68 0 01-3.85-3.85 3.78 3.78 0 013.9-3.9 3.74 3.74 0 013.8 4.38H33.6z"></path>
        <path d="M51.35 10.5c0-1.2-.9-2.12-2.03-2.12-1.12 0-2.03.9-2.03 2.14 0 1.23.9 2.14 2.03 2.14 1.12 0 2.03-.93 2.03-2.14m-5.92 6.79V6.78h1.84v.97a2.97 2.97 0 012.36-1.1c2.02 0 3.6 1.65 3.6 3.85s-1.6 3.87-3.65 3.87a2.9 2.9 0 01-2.26-1v3.93h-1.9.01z"></path>
        <path d="M59.86 10.5c0-1.24-.9-2.12-2.03-2.12-1.12 0-2.04.9-2.04 2.14 0 1.23.92 2.14 2.04 2.14s2.03-.88 2.03-2.14m.02 3.74v-.97a3 3 0 01-2.36 1.09c-2.05 0-3.6-1.65-3.6-3.86 0-2.2 1.61-3.87 3.64-3.87.96 0 1.76.42 2.32 1.08v-.95h1.84v7.48h-1.84z"></path>
        <path d="M42.11 7.5s.47-.86 1.62-.86c.5 0 .8.17.8.17v1.9s-.69-.42-1.32-.33c-.64.09-1.04.67-1.04 1.45v4.42h-1.9V6.78h1.84v.73z"></path>
      </g>
    </svg>
  </div>
  <div class="cart-footer__payments__icons">
    <svg
      id="sezzle-logo-white"
      viewBox="0 0 274 69"
      fill="none"
      width="69"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M4.6366 45.9634C10.8187 52.1456 20.8403 52.1456 27.0224 45.9634L27.6149 45.3709C30.7043 42.2816 24.5221 26.0745 27.6149 22.9851L4.6366 45.9634Z" fill="url(#paint0_linear_5_38)">
      </path><path d="M28.2109 22.3892L27.6184 22.9817C24.529 26.071 30.7077 42.2781 27.6184 45.3675L50.5967 22.3892C47.5039 19.2998 43.4556 17.7551 39.4038 17.7551C35.352 17.7517 31.3002 19.2998 28.2109 22.3892Z" fill="url(#paint1_linear_5_38)"></path>
      <path d="M4.63659 23.5777C-1.54553 29.7598 -1.54553 39.7814 4.63659 45.9635L28.2143 22.3858C34.3964 16.2037 34.3964 6.18213 28.2143 0L4.63659 23.5777Z" fill="url(#paint2_linear_5_38)"></path>
      <path d="M27.0224 45.9634C20.8403 52.1456 20.8403 62.1671 27.0224 68.3492L50.6001 44.7715C56.7822 38.5894 56.7822 28.5679 50.6001 22.3857L27.0224 45.9634Z" fill="url(#paint3_linear_5_38)"></path>
      <path d="M142.322 34.2978C141.846 32.6675 141.137 31.1091 140.208 29.674C138.623 27.2183 136.42 25.1702 133.831 23.7522C129.745 21.5225 124.864 20.9985 120.374 22.3069C115.84 23.6289 112.096 26.6429 109.829 30.7974C107.575 34.9314 107.054 39.6922 108.366 44.2132L108.38 44.2577C108.681 45.2646 109.164 46.5524 109.174 46.573C110.678 50.0939 113.199 52.7825 116.874 54.7896C119.47 56.2109 122.392 56.961 125.323 56.961C127.008 56.961 128.69 56.7178 130.324 56.2349C133.78 55.2245 136.794 53.2312 139.071 50.4295L139.215 50.2514C139.797 49.5185 140.321 48.7342 140.777 47.9156C141.589 46.4668 141.068 44.6276 139.619 43.8159C139.171 43.5658 138.664 43.4323 138.15 43.4323C137.057 43.4323 136.05 44.0214 135.52 44.9735C134.776 46.3024 133.79 47.4601 132.591 48.4054C132.488 48.4876 132.389 48.5766 132.338 48.6383C131.235 49.4603 129.988 50.0768 128.639 50.4741C125.686 51.3406 122.467 50.9947 119.751 49.5151C117.96 48.5389 116.463 47.0902 115.398 45.316L140.287 38.0173C141.873 37.5515 142.784 35.8836 142.322 34.2978ZM125.371 27.5814C127.296 27.5814 129.224 28.078 130.951 29.0164C132.653 29.9446 134.112 31.2975 135.167 32.9244C135.225 33.0168 135.287 33.1127 135.345 33.2086L113.675 39.5654C113.62 37.5207 114.113 35.4863 115.107 33.6676C116.6 30.931 119.069 28.9411 122.063 28.0609C123.152 27.7423 124.265 27.5814 125.371 27.5814Z" fill="#000"></path>
      <path d="M174.267 51.2413H157.799L176.215 24.1906C176.565 23.6803 176.599 23.0227 176.311 22.4747C176.024 21.9267 175.458 21.5876 174.839 21.5876H151.425C149.87 21.5876 148.606 22.8515 148.606 24.4064C148.606 25.9614 149.87 27.2252 151.425 27.2252H167.115L148.706 54.2758C148.356 54.7896 148.322 55.4472 148.61 55.9918C148.898 56.5398 149.463 56.8754 150.083 56.8754H174.263C175.818 56.8754 177.082 55.6116 177.082 54.0566C177.085 52.5085 175.822 51.2413 174.267 51.2413Z" fill="#000"></path>
      <path d="M210.75 51.2413H194.286L212.698 24.1906C213.048 23.6803 213.082 23.0227 212.794 22.4747C212.507 21.9301 211.942 21.5911 211.322 21.5911H187.912C186.357 21.5911 185.093 22.8549 185.093 24.4098C185.093 25.9648 186.357 27.2286 187.912 27.2286H203.602L185.192 54.2793C184.846 54.793 184.809 55.4506 185.096 55.9952C185.388 56.5432 185.949 56.8788 186.569 56.8788H210.75C212.305 56.8788 213.568 55.615 213.568 54.0601C213.568 52.5085 212.305 51.2413 210.75 51.2413Z" fill="#000"></path>
      <path d="M227.008 6.32593C225.453 6.32593 224.189 7.58975 224.189 9.1447V54.1595C224.189 55.7144 225.453 56.9783 227.008 56.9783C228.563 56.9783 229.827 55.711 229.827 54.1595V9.1447C229.827 7.58975 228.563 6.32593 227.008 6.32593Z" fill="#000"></path>
      <path d="M273.249 34.3014C272.776 32.6711 272.064 31.1162 271.139 29.6777C269.553 27.222 267.348 25.1738 264.762 23.7559C260.672 21.5262 255.799 21.0022 251.305 22.3105C246.77 23.6326 243.027 26.6466 240.763 30.8011C238.506 34.9316 237.989 39.6958 239.297 44.2168L239.311 44.2648C239.612 45.2683 240.095 46.5561 240.105 46.5801C241.609 50.101 244.13 52.7862 247.805 54.7966C250.401 56.218 253.322 56.9681 256.254 56.9681C257.936 56.9681 259.621 56.7249 261.255 56.242C264.711 55.2316 267.725 53.2383 269.999 50.44L270.146 50.2517C270.728 49.5153 271.252 48.731 271.704 47.9227C272.516 46.4739 271.996 44.6347 270.547 43.8229C270.098 43.5729 269.591 43.4393 269.077 43.4393C267.985 43.4393 266.978 44.0284 266.447 44.9806C265.704 46.3129 264.717 47.4671 263.522 48.4124C263.416 48.4946 263.32 48.5837 263.265 48.6453C262.162 49.4673 260.916 50.0838 259.563 50.4811C256.614 51.3477 253.391 51.0017 250.675 49.5221C248.884 48.546 247.383 47.0972 246.322 45.3231L271.215 38.0176C272.8 37.5518 273.711 35.8838 273.249 34.3014ZM256.302 27.5816C258.227 27.5816 260.155 28.0782 261.881 29.0167C263.584 29.9448 265.039 31.2977 266.098 32.9246C266.156 33.0171 266.218 33.113 266.276 33.2089L244.606 39.5657C244.551 37.5175 245.044 35.4865 246.037 33.6678C247.531 30.9312 250 28.9413 252.994 28.0611C254.079 27.7426 255.192 27.5816 256.302 27.5816Z" fill="#000"></path>
      <path d="M98.9234 41.2062C98.0877 39.9835 96.8787 38.9628 95.3374 38.1751C92.8132 36.8907 89.5423 36.3016 86.405 35.8118L85.9084 35.7365C83.7061 35.394 81.4285 35.0378 79.966 34.298C78.8598 33.7363 78.4659 33.1061 78.4659 31.8765C78.4659 29.4961 81.0586 27.7014 84.4939 27.7014C88.597 27.7014 90.8849 28.9002 93.4537 30.4654C93.9298 30.7565 94.4778 30.9107 95.0326 30.9107C96.1012 30.9107 97.0705 30.3695 97.6288 29.4585C98.05 28.7666 98.1802 27.9515 97.9884 27.1603C97.7966 26.3725 97.3102 25.7047 96.6184 25.2834C95.197 24.4134 93.6421 23.5092 91.6795 22.8037C89.4704 22.0125 87.1209 21.6255 84.4973 21.6255C81.3326 21.6255 78.37 22.5879 76.1609 24.3347C73.7325 26.2527 72.3934 28.931 72.3934 31.8765C72.3934 35.4043 74.0648 38.1169 77.226 39.7163C79.5482 40.8911 82.3087 41.3192 84.9768 41.7337L85.47 41.809C92.3132 42.881 94.2928 43.8469 94.2928 46.1108C94.2928 48.9159 91.4843 50.7517 87.138 50.7894H86.9804C82.3156 50.7894 79.6989 48.9981 78.2946 48.0357C78.0617 47.8781 77.8631 47.7377 77.6644 47.6144C77.1815 47.313 76.6267 47.1554 76.0581 47.1554C75.0032 47.1554 74.0374 47.6897 73.4791 48.5837C72.592 50.005 73.027 51.8819 74.4484 52.769C74.5271 52.817 74.647 52.8992 74.7806 52.9916L74.8628 53.0464C76.5308 54.187 80.4353 56.8653 86.9804 56.8653H87.1894C90.9637 56.8311 94.2038 55.8173 96.567 53.9267C99.0159 51.9641 100.365 49.1899 100.365 46.1142C100.362 44.2476 99.8756 42.6002 98.9234 41.2062Z" fill="#000"></path>
      <defs><linearGradient id="paint0_linear_5_38" x1="1926.73" y1="2387.38" x2="931.925" y2="1201.82" gradientUnits="userSpaceOnUse"><stop stop-color="#CE5DCB"></stop><stop offset="0.2095" stop-color="#C558CC"></stop><stop offset="0.5525" stop-color="#AC4ACF"></stop><stop offset="0.9845" stop-color="#8534D4"></stop><stop offset="1" stop-color="#8333D4"></stop></linearGradient><linearGradient id="paint1_linear_5_38" x1="26.6974" y1="1398.24" x2="2413.67" y2="1398.24" gradientUnits="userSpaceOnUse"><stop offset="0.0237" stop-color="#FF5667"></stop><stop offset="0.6592" stop-color="#FC8B82"></stop><stop offset="1" stop-color="#FBA28E"></stop></linearGradient><linearGradient id="paint2_linear_5_38" x1="-0.085625" y1="2298.18" x2="3285.08" y2="2298.18" gradientUnits="userSpaceOnUse"><stop stop-color="#00B874"></stop><stop offset="0.5126" stop-color="#29D3A2"></stop><stop offset="0.6817" stop-color="#53DFB6"></stop><stop offset="1" stop-color="#9FF4D9"></stop></linearGradient><linearGradient id="paint3_linear_5_38" x1="22.2933" y1="2320.54" x2="3307.43" y2="2320.54" gradientUnits="userSpaceOnUse"><stop stop-color="#FCD77E"></stop><stop offset="0.5241" stop-color="#FEA500"></stop><stop offset="1" stop-color="#FF5B00"></stop></linearGradient></defs>
    </svg>
  </div>
</div>
{% endif %}
  
<style>
  .cart-footer__payments{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .cart-footer__payments-title{
    font-size:14px;
    width: 100%;
    padding: 0 0 2px 0;
    text-align:center;
  }
  @media(max-width:590px){
    .cart-footer__payments-title {
      font-size: 12px;
      padding: 0 0 2px 0;
    }
    .cart-footer__payments__icons svg {
      width: 54px;
      height: 12px;
    }
    .cart-footer__payments{
      justify-content: center;
    }
  }
</style>
