<div class="cart-banner__features ">
  <p class="cart-banner__feature ">LIFETIME WARRANTY</p>
  <img src="https://cdn.shopify.com/s/files/1/1559/9679/files/409143-512.png?v=1730753263">
  <p class="cart-banner__feature ">EASY RETURNS</p>
  <img src="https://cdn.shopify.com/s/files/1/1559/9679/files/409143-512.png?v=1730753263">
  <p class="cart-banner__feature ">45.000+ REVIEWS</p>
</div>
<style>
  .cart-banner__features {
    display: flex;
    background-color: #f8f3ed;
    align-items: center;
    border-radius: .375rem;
    justify-content: center;
    gap: 4px;
    padding: 9px;
  }
  .cart-banner__feature{
    opacity: .7;
    font-size:12px;
  }
  .cart-banner__features img{
    max-width:16px;
    opacity: .7;
  }
  @media(max-width:590px){
    .cart-banner__features img {
      max-width: 14px;
    }
    .cart-banner__feature {
      font-size: 10px;
    }
    .cart-banner__features {
        gap: 3px;
    }
  }
</style>
